* {
    padding: 0%;
    margin: 0%;
}

body {
    width: 100%;
    background-color: #ffffe0;
}

.container-gral {
    width: 95%;
    height: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: grid;
    position: relative;
}

/*CAIXA 1 i 2*/


.container-gral .caixa1, 
.container-gral .caixa2 {
    width: 100%;
    display: flex;
    align-items: center;
}

.container-gral .caixa1 {
    background-color: none;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100%;
}

.container-gral .caixa2 {
    border-top-width: 2px;
    margin-bottom: 1%;
    justify-content: center;
    height: 30vh;
    position: relative;
}

/*ELEMENTS CAIXA1*/


/*LOGO*/

.logo-container {
    width: 100%;
    object-fit: cover;
    text-align: center;
}

.logo-container .logo {
    width: 25%;
    height: 100%;
}

/*BARRA DE NAVEGACIÓ*/

.nav {
    width: 49%;
    height: fit-content;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.nav-cont {
    margin-right: 15px;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row-start: 2;
}

.nav-cont .nav-icon {
    width: 17px;
    align-self: center;
}


.nav-cont .nav-txt {
    font-size: 1vw;
    margin-left: 8%;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

.nav-cont .nav-txt:hover {
    color: blue;
    cursor: pointer;
    font-weight: bold;
}

/*XARXES*/

.xarxes-cont {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.xarxes-cont .iconsX-cont {
    width: 25%;
}


.xarxes-cont .icons-x {
    width: 100%;
    text-align: center;
}

.xarxes-cont .icons-x:hover {
opacity: 50%;
cursor: pointer;

}

/*ELEMENTS CAIXA2*/

.caixa2 .capImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 63%;     
}

.caixa2 .slogan {
    position: absolute;
    font-size: 1vw;
    margin-top: 2%;
    color: rgba(178, 190, 195,0.5);
}
/*CONTENIDOR CAIXA 3 i 4
A diferència de les altres caixes aquestas 2 tenen un contenidor*/


.cont3i4 {
    width: 100%;
    height: 100%;
    flex-direction: row;
    margin-bottom: 2%;
    background-color: #e6e7e7;
    display: grid;
    grid-template-columns: 80% 20%;
}

/*CAIXA 3 I 4*/

.cont3i4 .caixa3, .caixa4 {
    height: fit-content;
}
/*CAIXA 3*/
 
.cont3i4 .caixa3 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
}

/*CAIXA 4*/

.cont3i4 .caixa4 {
    width: 100%;
    border-left-width: 0px;
    display: grid;
    justify-items: center;
}

/*ELEMENTS CAIXA 3*/

.caixa3 .artLeft1, 
.caixa3 .artRight1,
.caixa3 .artLeft2,
.caixa3 .artRight2 {
    width: 100%;
    height: auto;
    display: grid;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    position: relative;
    grid-template-rows: 63% 7% 30%;
}

.caixa3 .artLeft1, 
.caixa3 .artRight1 {
    margin-top: 5px;
    margin-bottom: 1px;
}

.caixa3 .artLeft2,
.caixa3 .artRight2 {
    margin-top: 1px;
    margin-bottom: 7px;
}

.txtImg-cont {
    display: grid;
    height: fit-content;
    width: 100%;
    height: 100%;
}

.caixa3 .artLeft1-img, 
.caixa3 .artRight1-img,
.caixa3 .artLeft2-img,
.caixa3 .artRight2-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.caixa3 .txtImg-cont .text-img {
    width: 100%;
    position: absolute;
    color: white;
    bottom: 40%;
}

.titulo-cont {
    width: 100%;
    height: fit-content;
    background-color: #8a534a;
}

.caixa3 .titulo-img {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.3vw;
    justify-content: left;  
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;  
}

.text-art-cont {
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.text-art {
    font-size: 1.4vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

.leerMas {
    font-size: 1.2vw;
    text-decoration: none;
    color: black;
}

.leerMas:hover{
    color: blue;
}

.caixaAux .artSol {
    width: 100%;
    height: fit-content;
    background-color: #8a534a;
}

.text-artSol {
    color: white;
    text-align: center;
    font-size: 1vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}



/*ELEMENTS CAIXA 4*/

.caixa4 .artLat1, 
.caixa4 .artLat2 {
    width: 95%;
    height: auto;
    background-color: #8a534a;
}

.caixa4 .artLat1 {
    margin: 3% 0% 3% 0%;
}

.text-artLat {
    color: white;
    text-align: center;
    font-size: 1vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    padding: 5px;
}

.caixaAux {
    height: auto;
}

/*CAIXA 5*/

.footer {
    width: 100%;
    height: 4vh;
    text-align: center;
    display: grid;
    grid-template-rows: 50% 50%;
}

.footer .text-footer {
    color: #8a534a;
    font-size: 1.2vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    grid-row-start: 2;
}

/*TAULETA*/

@media (max-width: 1024px) {
    
    .container-gral {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .nav {
        width: 40%;
        height: fit-content;
    }
    
    .nav-cont {
        width: 30%;
    }

    .nav-cont .nav-icon {
        width: 15%;
    }

    .container-gral .caixa2 {
        border-top-width: 2px;
        margin-bottom: 1%;
        height: 20vh;
    }
    
    .cont3i4 .caixa3, 
    .cont3i4 .caixa4{
        width: 100%;
    }
    
    .cont3i4 {

    width: 100%;
    height: 100%;
    margin-bottom: 2%;
    background-color: #e6e7e7;
    grid-template-rows: 74% 26%;
    grid-template-columns: 1fr;
    }

    .cont3i4 .caixa3 {

    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    }

    .cont3i4 .caixa4 .artLat1,
    .cont3i4 .caixa4 .artLat2{
        width: 100%;
        height: 40%;
    }

    .caixa3 .artLeft1, .caixa3 .artRight1, .caixa3 .artLeft2, .caixa3 .artRight2 {
        width: 100%;
        height: 100%;
        display: grid;
        box-sizing: border-box;
        border-style: solid;
        border-width: 1px;
        border-color: gray;
        position: relative;
        grid-template-rows: 65% 5% 30%;
    }

    .caixa3 .artLeft1, .caixa3 .artRight1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .text-img {
        position: absolute;
        color: white;
        margin-left: 10px;
        font-size: 1vw;
    }
    
    
    .cont3i4 .caixa4 {
        border-left-width: 15px;
        border-top-width: 0px;
        height: 100%;
        grid-template-rows: 50% 50%;
    }


    .cont3i4 .caixa4 .artLat1, .cont3i4 .caixa4 .artLat2 {
        width: 100%;
        height: 50%;
    }

    .text-artSol {
        color: white;
        text-align: center;
        font-size: 1.3vw;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: lighter;
    }

    .text-artLat {
        color: white;
        text-align: center;
        font-size: 1.2vw;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: lighter;
    
    }
}


/*MÒBIL*/

@media (max-width: 500px) {
    
    .container-gral {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    .nav {
        margin-right: 0%;
    }
    
    .nav-cont {
        width: 30%;
    }
    
    .container-gral .caixa2 {
        border-top-width: 2px;
        margin-bottom: 2%;
        justify-content: center;
        height: 10vh;
    }

    .text-artSol {
        font-size: 1vw;
    }
}